################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/project_2/bert_cloze/.vs/bert-master/v16
/project_2/commonsense/__pycache__
/project_2/commonsense/commonsense.pyproj.user
